alembic
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ElexonDataPortal
numpy
pandas
plotly
powerdict
pyarrow
psycopg2
pydantic
PyYAML
QtPy
requests
streamlit
SQLAlchemy==1.4.37
xlrd
streamlit-extras

# etl
fastapi
uvicorn
psutil


# test
pytest