alembic
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
numpy==1.23.4
pandas==1.5.3
plotly
powerdict
pyarrow
psycopg2
pydantic
PyYAML
QtPy
requests
SQLAlchemy==1.4.37
xlrd
altair==4.2.2
openpyxl


# streamlit - frozen to allow tracking hack (see static dir)
streamlit==1.16.0
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-embedcode==0.1.2
streamlit-extras==0.2.4
streamlit-faker==0.0.2
streamlit-keyup==0.2.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2


# etl
fastapi
uvicorn
psutil
sp2ts


# test
pytest